<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <% if (locals.signupErr) { %>
      <% signupErr.forEach((error) => { %>
        <li><%= error.msg %></li>
      <%}) %>
  <%}%>
  <form action="/signup" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
    <input type="checkbox" id="admin" name="admin">
    <label for="admin">Admin</label>
    <button type="submit" class="signupBtn">Sign Up</button>
  </form>
</body>
</html>